{% extends 'base_analysis.html' %}
{% load static %}

{% block head %}History{% endblock %}
{% block title %}<h1>History</h1>{% endblock %}

{% block content %}


<div class="row g-0 justify-content-md-center" style="min-width:768px;">
    <!-- ****** Legend of History List Color ****** -->
    <div class="col-11" style="min-width:768px;">
        <fieldset class="border p-1">
            {% comment %} <legend  class="float-no ne w-auto">Legend</legend> {% endcomment %}
            <ul class="legend">
                <li><span class="complete"></span> Complete </li>
                <li><span class="incomplete"></span> Incomplete </li>
                <li><span class="unanalysis"></span> Unanalyzed </li>
            </ul>
        </fieldset>
    </div>

    <br>

    <!-- ****** History: Audio List ****** -->
    <div class="col-11" style="min-width:768px;"> 

        {% if audioList %}

            <form method="post" enctype="multipart/form-data" id="id_form_history" name="form_history">
                {% csrf_token %}
                <table class="table table-hover" id='tbl_hist' style="table-layout:fixed; width:100%; word-wrap:break-word;">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" style="width:30px">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="id_cb_hist_hd" name="cb_hist_hd" onclick="checkAll()">
                                </div>
                            </th>
                            <th scope="col" style="width:200px">Original Audio Name</th>
                            <th scope="col">(No. of Files) Upload File Name</th>
                            <th scope="col">Description</th>
                            <th scope="col" style="width:120px">Create By</th>
                            <th scope="col" style="width:130px">Create On</th>
                            <th scope="col">Actions</th> <!--style="width:180px"-->
                        </tr>
                    </thead>
                    <tbody>
                        {% for audio in page_object %}
                        <tr {% if audio in audioList_unanalysis %} class="table-warning" {% elif audio in audioList_complete %} class="" {% else %} class="table-info" {% endif %}>
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{audio.audio_id}}" id="id_cb_hist_bd_{{forloop.counter}}"  name="cb_hist_bd">
                                </div>
                            </td>
                            <td>
                                <a href="#" data-bs-toggle="modal" data-bs-target="#audioMaster_{{audio.audio_id}}">
                                    {{ audio.audio_name }}
                                </a>
                                <br>{{audio.audio_id}}

                                <!-- Scrollable modal : Audio Master Data -->
                                <div class="modal fade" id="audioMaster_{{audio.audio_id}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="audioMasterLabel">{{audio.audio_id}}</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th></th>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <th>Audio Name</th>
                                                            <td>{{audio.audio_name}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Audio Metadata</th>
                                                            <td>{{audio.audio_meta}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Upload File Name (No.files)</th>
                                                            <td>{{audio.upload_filename}} ({{audio.upload_file_count}})</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Description</th>
                                                            <td>{{audio.description}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Analysis Processed</th>
                                                            <td>{{audio.analysis}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Creation</th>
                                                            <td><span class="fw-bold">by: </span>{{audio.create_by}}<br><span class="fw-bold">on: </span>{{audio.create_date}} {{audio.create_time}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th>Update</th>
                                                            <td><span class="fw-bold">by: </span>{{audio.update_by}}<br><span class="fw-bold">on: </span>{{audio.update_date}} {{audio.update_time}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>({{ audio.upload_file_count}}) {{ audio.upload_filename}}</td>
                            <td>{{ audio.description}}</td>
                            <td>{{ audio.create_by}}</td>
                            <td>{{ audio.create_date}} <br> {{audio.create_time}}</td>
                            <td>
                                <!-- ****** Single Audio Process ****** -->
                                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#singleStart_{{forloop.counter}}" style="font-size:0.75em; padding:0.5em;" {% if flag_analysisThread_active == True and audio.audio_id in activeAnalysis_audioId_list %} disabled {% endif %}>
                                    {% if flag_analysisThread_active == True and audio.audio_id in activeAnalysis_audioId_list %}
                                        <!-- Spinner: analysis in progress -->
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                    {% else %}
                                        Start
                                    {% endif %}
                                </button>
                                <button type="button" class="btn btn-outline-success btn-sm" onclick="location.href='{% url 'analysis:report' audio.audio_id %}'" style="font-size:0.75em; padding:0.5em;">Report</button>
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#singleDelete_{{forloop.counter}}" style="font-size:0.75em; padding:0.5em;">Delete</button>
                                
                                <!-- Form for record deletion -->
                                <form method="post" enctype="multipart/form-data" id="HistorySingleDelete" name="HistorySingleDelete">
                                    {% csrf_token %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="singleDelete_{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="singleDeleteLabel">Delete</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Are you sure to delete {{audio.audio_id}}: {{audio.audio_name}} ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger" id="modal_singleDelete" name="modal_singleDelete" value={{audio.audio_id}}>Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- Form for record analysis start -->
                                <form method="post" enctype="multipart/form-data" id="HistorySingleStart" name="HistorySingleStart">
                                    {% csrf_token %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="singleStart_{{forloop.counter}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="singleStartLabel">Analysis Selection</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class ="text-center">-- Analysis for {{audio.audio_id}} -- </p>
                                                    {{ analysisSelectionForm.analysisChoices.label}}
                                                    <div class="list-group">
                                                    {% for selection in analysisSelectionForm.analysisChoices %}
                                                        <label class="list-group-item">
                                                            {{ selection.tag }}{{ selection.choice_label}}
                                                        </label> 
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary" id="modal_singleStart" name="modal_singleStart" value="{{audio.audio_id}}">Start</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


                <div class="d-flex mb-3">
                    <!-- ****** Batch Processing ****** -->
                    <div class="me-auto justify-content-start">
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#batchStart" style="margin:0.3em">Start</button>
                        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#batchDelete" style="margin:0.3em">Delete</button>
                    </div>

                    <!-- Form for batch deletion -->
                    <form method="post" enctype="multipart/form-data" id="HistoryBatchDelete" name="HistoryBatchDelete">
                        {% csrf_token %}
                        <!-- Modal -->
                        <div class="modal fade" id="batchDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="batchDeleteLabel">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure to delete all selected audios ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-danger" id="modal_batchDelete" name="modal_batchDelete" value="" onclick="batchDelete()">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!-- Form for batch analysis start -->
                    <form method="post" enctype="multipart/form-data" id="HistoryBatchStart" name="HistoryBatchStart">
                        {% csrf_token %}
                        <!-- Modal -->
                        <div class="modal fade" id="batchStart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="batchStartLabel">Analysis Selection</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class ="text-center">-- Analysis for Selected Audios -- </p>
                                        {{ analysisSelectionForm.analysisChoices.label}}
                                        <div class="list-group">
                                            {% for selection in analysisSelectionForm.analysisChoices %}
                                            <label class="list-group-item">
                                                {{ selection.tag }}{{ selection.choice_label}}
                                            </label> 
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary" id="modal_batchStart" name="modal_batchStart" value=""  onclick="batchStart()">Start</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <!-- ****** Pagination ****** -->
                    <div class="ms-auto">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-end">
                                <li class="page-item">
                                    <span class="align-middle">
                                        Page {{ page_object.number }} of {{ page_object.paginator.num_pages }} &nbsp;&nbsp;
                                    </span>
                                </li>
                                {% if page_object.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">&laquo; First</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_object.previous_page_number }}">Previous</a>
                                </li>
                                {% endif %}
                                {% if page_object.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_object.next_page_number }}">Next</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_object.paginator.num_pages }}">Last &raquo;</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>

                </div>
                
            </form>
        {% else %}
            <p>No audios are available.</p>
        {% endif %}

    </div>


</div>

<!-- ****** Scroll Buttons ****** -->
<div id="id_scrollBtns" style="position:fixed; right:0; bottom:0; float:right; z-index:9999;"> 
    <button type="button" class="btn btn-secondary" onclick="scrollToTop()"><span class="bi bi-caret-up-fill"></span></button>
    <br>
    <button type="button" class="btn btn-secondary" onclick="scrollToBottom()"><span class="bi bi-caret-down-fill"></span></button>
</div>






<script language="javascript" type="text/javascript">
    // ***** refresh page for update status of analysis start button ***** //
    $(document).ready(function(){
        var interval = setInterval(function(){
            if ("{{flag_analysisThread_active}}" === "True"){
                {% comment %} window.location("{% url 'analysis:history' %}") {% endcomment %}
                document.location.href ="{% url 'analysis:history' %}"
            }
            else{
                clearInterval(interval);
                console.log('stop interval')
            }
        }, 90000);  //refresh every 90s
    });

    // ***** Change the refresh function of browser(F5) from resubmiting the form to redirecting to the page ***** //
    if (window.history.replaceState ){
        window.history.replaceState( null, null, window.location.href );
    }

    // *****  disabled "SD+STT" option to make it a necessary choice ***** //
    $(document).ready(function(){
        $("input[name='analysisChoices']").each(function(){
            if ($(this).val() === "1"){
                $(this).prop("checked",true)
                {% comment %} $(this).prop("disabled",true) {% endcomment %} //"disabled" doesn't let any form of data to get POSTed. - https://stackoverflow.com/questions/61481957/display-a-checkbox-choice-as-disabled-in-django-3-0-modelform
                $(this).attr("class","form-check-input me-1 readonly")
                $(this).attr("style","opacity: .50; filter: alpha(opacity=50); cursor: default;")
            }
            else{
                $(this).prop("checked",true)
            }
        });
        $('input.readonly').on('click', function(evt) {
            evt.preventDefault();
        })
    });
</script>


<script language="javascript" type="text/javascript">
    // ***** checkbox select/unselect all ***** //
    function checkAll(){
        console.log('checkbox all:', $('#id_cb_hist_hd').is(":checked"))
        if ($('#id_cb_hist_hd').is(":checked")){
            $("input[name='cb_hist_bd']").each(function(){
                $(this).prop("checked",true)
            });
        }
        else{
            $("input[name='cb_hist_bd']").each(function(){
                $(this).prop("checked",false)
            });
        }
    }


    // ***** batch deletion of audios ***** //
    function batchDelete(){
        var audiosList = [];
        $("input[name='cb_hist_bd']").each(function(){
            if ($(this).prop("checked")){
                var audioId = $(this).val();
                console.log(audioId);
                audiosList.push(audioId);
            };
        });
        console.log('audiosList to delete:', audiosList);
        $("#modal_batchDelete").val(audiosList);
    }



    // ***** batch start analysis of audios ***** //
    function batchStart(){
        var audiosList = [];
        $("input[name='cb_hist_bd']").each(function(){
            if ($(this).prop("checked")){
                var audioId = $(this).val();
                console.log(audioId);
                audiosList.push(audioId);
            };
        });
        console.log('audiosList to analyze:', audiosList);
        $("#modal_batchStart").val(audiosList);

        if(audiosList == []){
            alert('No audio is selected.')
        }
    }


    // ***** Scroll to top/bottom of page ***** //
    function scrollToBottom() {
        $(document).scrollTop($(document).height());
    };
    function scrollToTop() {
        $(document).scrollTop(0);
    };

</script>

{% endblock %}