{% extends 'base_analysis.html' %}
{% load static %}

{% block head %}Report{% endblock %}
{% block title %}<h1>Report</h1>{% endblock %}

{% block content %}
<!-- ****** Audio Master Data (Header) ****** -->
<h2> Audio:</h2>
{% if audio %}
    <div class="container">
        <table class="table table-bordered .w-auto ">
            <tbody>
                <tr>
                    <th>
                        <audio controls>
                            {% if audio.audio_name == audio.upload_filename %}
                                <source src="{{MEDIA_URL}}{{audio.audio_name}}" type="audio/wav">
                                Your browser does not support the audio tag.
                            {% elif  audio.upload_filename|slice:"-3:" == "mp3" %}
                                <source src="{{MEDIA_URL}}{{audio.audio_name}}" type="audio/wav">
                                Your browser does not support the audio tag.
                            {% else %}
                                <source src="{{MEDIA_URL}}{{zip_folder}}/{{audio.audio_name}}" type="audio/wav">
                                Your browser does not support the audio tag.
                            {% endif %}
                        </audio>
                    </th>
                    <th>Audio Meta Params</th>
                    <th>Creation</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>
                        <span style="font-weight:bold">Upload filename: </span><br>
                        {{audio.upload_filename}}<br>
                        <span style="font-weight:bold">Audio: </span><br>
                        {{audio.audio_name}}<br>
                        <span style="font-weight:bold">Audio ID: </span><br>
                        {{audio.audio_id}}
                    </td>
                    <td>
                        <ul>
                            {% for k, v in audio_meta.items%}
                                <li>{{k}}: {{v}}</li>
                            {% endfor%}
                        <ul>
                    </td>
                    <td><span style="font-weight:bold">by: </span>{{audio.create_by}} <br> 
                        <span style="font-weight:bold">on: </span>{{audio.create_date}} {{audio.create_time}}
                    </td>
                    <td>{{audio.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% else %}
    <p>No audios are available.</p>
{% endif %}

<!-- ****** Report (Details) ****** -->
{% if sttResult %}
    <div class="row g-0">
        <div class="col-sm-10">
            <h2> Report:</h2>
        </div>
        <div class="col-sm right">
            <a href="{% url 'analysis:stt_exportcsv' audio.audio_id %}"><button type="button" class="btn btn-primary" id='btn_download_stt'>Download to CSV</button></a>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="cb_hideEmptySlices">
                <label class="form-check-label" for="cb_hideEmptySlices">Hide Empty Slices</label>
            </div>
        </div>
    </div>

    <div class="row g-0">
        <table class="table table-hover" id="tbl_rpt">
            <thead class="table-light">
                <tr>
                    <th scope="col">Audio</th>
                    <th scope="col">SliceID</th>
                    <th scope="col">SpeakerLabel</th>
                    <th scope="col">Start</th>
                    <th scope="col">End</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Text</th>
                    {% if personalInfo %}
                    <th scope="col">KYC</th>
                    <th scope="col">PII</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for slice in sttResult %}           
                <tr>
                    <td>
                        {% with slice.slice_folder as slice_folder %}
                        <audio controls>
                            {% if audio.audio_name == audio.upload_filename %}
                                <source src="{{MEDIA_URL}}{{slice_folder}}/{{slice.slice_name}}" type="audio/wav">
                                Your browser does not support the audio tag.
                            {% elif  audio.upload_filename|slice:"-3:" == "mp3" %}
                                <source src="{{MEDIA_URL}}{{slice_folder}}/{{slice.slice_name}}" type="audio/wav">
                                Your browser does not support the audio tag.
                            {% else %}
                                <source src="{{MEDIA_URL}}{{zip_folder}}/{{slice_folder}}/{{slice.slice_name}}" type="audio/wav">
                                Your browser does not support the audio tag.
                            {% endif %}
                        </audio>
                        {% endwith %}
                    </td>
                    <td>{{ slice.slice_id }}</td>
                    <td>{{ slice.speaker_label }}</td>
                    <td>{{ slice.start_time }}</td>
                    <td>{{ slice.end_time }}</td>
                    <td>{{ slice.duration }}</td>
                    <td width = "1000">{{ slice.text }}</td>
                    {% if personalInfo %}
                    {% for info in personalInfo %}
                    {% if slice.slice_id == info.slice_id  %}
                    <td>{{ info.is_kyc }}</td>
                    {% endif %}
                    {% if slice.slice_id == info.slice_id  %}
                    <td>{{ info.is_pii }}</td>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="row g-0">
        <h2> Report:</h2>
        <p>Pending analysis report...</p>
    </div>
{% endif %}


<!-- ****** Previous/Next Audio Report Buttons Group ****** -->
<div class="row g-0">
    <nav aria-label="Page navigation audio report">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <span class="align-middle">
                    Report {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} &nbsp;&nbsp;
                </span>
            </li>

            {% if page_obj.has_previous %}
            <li class="page-item">
                {% with previous_audio=audioList|slice:page_obj.previous_page_number|slice:"-1:" %}
                    <a class="page-link" href="{% url 'analysis:report' previous_audio.0.audio_id %}">Previous</a>
                {% endwith %}
            </li>
            {% endif %}

            {% if page_obj.has_next %}
            <li class="page-item">
                {% with next_audio=audioList|slice:page_obj.next_page_number|slice:"-1:" %}
                    <a class="page-link" href="{% url 'analysis:report' next_audio.0.audio_id %}">Next</a>
                {% endwith %}
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<br>

<!-- ****** Scroll Buttons ****** -->
<div id="id_scrollBtns" style="position:fixed; right:0; bottom:0; z-index:9999;"> 
    <button type="button" class="btn btn-secondary" onclick="scrollToTop()"><i class="bi bi-caret-up-fill"></i></button>
    <br>
    <button type="button" class="btn btn-secondary" onclick="scrollToBottom()"><i class="bi bi-caret-down-fill"></i></button>
</div>





<script language="javascript" type="text/javascript">
    // ***** Scroll to top/bottom of page ***** //
    function scrollToBottom() {
        $(document).scrollTop($(document).height());
    };
    function scrollToTop() {
        $(document).scrollTop(0);
    };

    // ***** Switch on/off hide empty text lines ***** //
    $('#cb_hideEmptySlices').click(function(){
        if ($('#cb_hideEmptySlices').is(":checked")){
            $(this).prop("checked",true);
            for(var i=0; i<={{sttResult.count}}; i++){
                var col_text = $("#tbl_rpt").find("tr:eq("+i+") td:eq(6)").html();
                if(col_text===''){
                    $("#tbl_rpt").find("tr:eq("+i+")").hide();
                };
            };
           
        }
        else{
            $(this).prop("checked",false)
            for(var i=0; i<={{sttResult.count}}; i++){
                var col_text = $("#tbl_rpt").find("tr:eq("+i+") td:eq(6)").html();
                if(col_text===''){
                    $("#tbl_rpt").find("tr:eq("+i+")").show();
                };
            };
        };
    });

</script>

{% endblock %}


